In [1]:
import pandas as pd
%matplotlib inline

In [2]:
dfs = [pd.read_csv('data/{}.csv'.format(country)).assign(country=country)
       for country in ["france", "germany", "italy", "spain", "portugal"]]

/home/horace/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (2,4,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/home/horace/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (3,5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/home/horace/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
dfs[0].head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH,country
0,4.935638,46.129048,5098.0,lotissement vers le plat,NaN,L'Abergement-Clémenciat,NaN,NaN,1400.0,NaN,5f1f6c0bdb5c901c,france
1,4.933133,46.129789,5099.0,route des basques,NaN,L'Abergement-Clémenciat,NaN,NaN,1400.0,NaN,a11d23a1d1fa791e,france
2,4.924219,46.134344,6.0,lotissement bellevue,NaN,L'Abergement-Clémenciat,NaN,NaN,1400.0,NaN,8a258bbf2f34fddb,france
3,4.924452,46.135082,3.0,route du beaujolais,NaN,L'Abergement-Clémenciat,NaN,NaN,1400.0,NaN,87f8b3d172c6c3cd,france
4,4.924190,46.134622,2.0,lotissement bellevue,NaN,L'Abergement-Clémenciat,NaN,NaN,1400.0,NaN,acea8afe62e0963b,france

In [4]:
full = pd.concat([f[["LON", "LAT", "STREET", "CITY", "country"]] for f in dfs])
full.sample(full.shape[0]).to_csv("data/shuffled_with_txt.csv")

OSError: [Errno 28] No space left on device

In [14]:
large = pd.concat([f[["LON", "LAT", "country"]] for f in dfs])
large.head()

        LON        LAT country
0  4.935638  46.129048  france
1  4.933133  46.129789  france
2  4.924219  46.134344  france
3  4.924452  46.135082  france
4  4.924190  46.134622  france

In [20]:
large.to_csv("data/large_five.csv")

In [4]:
df = pd.read_csv("data/large_five.csv")

In [6]:
df.sample(df.shape[0]).to_csv("data/shuffled.csv", index=False)